// Sizes
$containerMaxWidth: 1200px;
$fontSize: 18px;
$mediumFontSize: 16px;
$smallFontSize: 16px;
$margin: 1.5rem;

// Breakpoints
$mediumWidth: 768px;
$multiColumnWidth: 1024px;
$bigWidth: 1300px;

// Colors
$white: #ffffff;
$veryLightGrey: #dddddd;
$lightGrey: #d0d0d0;
$grey: #858585;
$darkGrey: #444444;
$blueGrey: #8899aa;
$blue: #7cc0ff;
$lightBlue: #8dacff;
$dark: #080815;

// Color placements
$dividerColor: $darkGrey;
$articleBackground: $dark;
$textColor: $white;
