@import 'utils';

.Header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: -0.5rem;

  @include multiColumn {
    justify-content: flex-start;
    margin: 1rem $margin * 2 0 $margin;
    position: relative;
  }
}

.Logo {
  width: rem(250px);
  display: block;
  margin: 0 auto $margin;

  h1 {
    display: inline;
  }

  @include multiColumn {
    width: 100%;
    margin-bottom: $margin;
    margin-left: -1rem;
  }

  img {
    display: block;
    width: 100%;
  }
}

.HeaderContent {
  max-width: 100%;
  font-weight: 300;
  font-size: 0.875rem;
}

.LinkListHeading {
  font-size: 0.75rem;
  color: $blueGrey;
  text-transform: uppercase;
}

.LinkList {
  padding: 0;
  list-style: none;
  font-size: 0.875rem;

  li {
    margin-bottom: 0.5rem;
  }

  a {
    color: $blue;
    display: inline-flex;
    align-items: flex-start;
  }

  svg,
  img {
    display: inline-block;
    width: 1rem;
    margin-right: 0.75rem;
    margin-top: 6px;
  }
}

.HeaderLinkList {
  display: none;

  @include multiColumn {
    display: block;
  }
}

.SkillListContainer {
  p {
    text-align: left;
    max-width: 30rem;
    margin: 1rem 0 $margin;
  }
}

.SkillList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;

  @include multiColumn {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  li {
    font-weight: 600;
    white-space: nowrap;
    margin-right: 1.5rem;
    margin-bottom: 0.875rem;
    display: flex;
    align-items: center;
  }

  img,
  svg {
    width: 30px;
    height: 30px;
    vertical-align: -4px;
    margin-right: 0.5rem;
  }
}
