@import 'utils';

.Viewport {
  width: 100%;
}

.LayoutWrapper {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  margin: 0 auto;

  @include multiColumn {
    padding: 0;
    display: grid;
    width: calc(#{$multiColumnWidth} - 2rem);
    grid-template-columns: 1.5fr 3.6fr;
  }

  @include big {
    width: 100%;
    max-width: $containerMaxWidth;
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 3.5fr;
  }

  &.TopSpace {
    margin-top: 0;

    @include multiColumn {
      margin-top: $margin * 1.5;
    }
  }
}

.Page {
  padding: $margin 1rem 0;
  margin-top: $margin;
  margin-bottom: $margin;
  width: calc(100% + 2rem);
  margin-left: -1rem;

  @include multiColumn {
    width: 100%;
    margin-left: 0;
    border: 0;
    box-shadow: -1px 1px 6px 0 rgba(0, 10, 50, 0.075);
    margin-top: 0;
    margin-bottom: 0;
    padding: $margin $margin 0;
  }
}

.PageContent {
}

.FooterSkillList {
  display: block;

  @include multiColumn {
    display: none;
  }
}

.FooterLinks {
  display: block;

  @include multiColumn {
    display: none;
  }
}

.PageList {
  margin: $margin * 1.25 0 0;
  padding: $margin * 0.75 0 0;
  border-top: 1px solid $dividerColor;
  list-style: none;
  font-size: 0.875rem;
  font-weight: 200;

  li {
    margin-top: 0.5rem;
    margin-right: 1rem;
    color: $blueGrey;
  }

  a {
    color: inherit;
    display: inline-flex;
    align-items: flex-start;
  }

  svg,
  img {
    display: inline-block;
    margin-right: 0.75rem;
    margin-top: 4px;
  }
}
